@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------Universal*/
html{
    background-color: #525252;
    font-family: "Roboto", san-serif;
}

/*--------------------------------Hover.css styles*/

.hvr-sweep-to-bottom:before{
    background-color: rgba(0,0,0, 0.2);
    height: 100%;
}

/*--------------------------------Colors*/

.bg-color-name-title{
  background-color: #676767;  
}


.ul-nav-color-home{
    background-color: #e67e22;
}

.ul-nav-color-resume{
    background-color: #9b59b6;
}

.ul-nav-color-contact{
    background-color: #3498db;
}

.ul-nav-color-interests{
    background-color: #f44b42;
}

.ul-nav-color-github{
    background-color: #2655a0;
}


.ul-nav-color-download{
    background-color: #525252;
}

.bg-color-three-reasons{
    background-color: #ffffff;
}

.bg-color-info{
    background-color: #f4f4f4;
}

.bg-color-work-history{
    background-color: #9b59b6 ;
}

.bg-color-contact{
    background-color: #fff;
}

/*--------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-family: "Roboto",sans-serif;
}

p{
    font-family: "Exo", sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block{
    display: inline-block;
}

.row-table{
    display: table;
}


/*--------------------------------Header Styles*/
header{
    margin: 0;
}

.logo{
    background: url("../images/fdf-18.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heading{
    margin-left: 50px;
    color: white;
}

.name{
   font-family: "Exo", sans-serif;
   font-weight: 100;
   font-size: 46px;
   margin-top: 50px;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.section-heading{
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.history-heading{
    color: #fafafa;
    margin-bottom: 20px;
}

.contact-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}
/*--------------------------------Nav Styles*/

#nav{
    margin: 0;
}

#nav li{
    padding-left: 0;
    padding-right: 0;
}

.ul-nav-item{
   height: 120px; 
   text-align: center;
   padding: 0;
}

.ul-nav-item a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 100%;
}

.ul-nav-item a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.ul-nav-item span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------Self promotion*/

.self-promotion{
    padding: 10px;
}

.three-reasons{
    margin-top: 10px;
}

.three-reasons-icons{
    
font-size: 26px;
color: #e67e22;
}

.three-reasons-heading{
    margin-bottom: 15px;
    
}

/*--------------------------------Personal Information*/

.personal-info-item{
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value{
    padding-right: 8px;
}

.personal-info-item .key p,
.personal-info-item .value p{
    margin: 0;
}

.personal-info-item .key{
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p{
    font-weight: 700;
    
}

.personal-info-item .value{
    display: inline-block;
    position: relative;
    width: 60%;
}

/*------------------------------------------------- Skills*/

.progress{
    position: relative;
    height: 25px;
}

.progress-type{
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25,25,25,0.2);
}

.progress-section{
    margin: 40px 20px;
}


/*--------------------------------------------------Work History*/

.timeline-item{
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p{
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    background-color: #fafafa;
    content: ""; /*Content must be set to nothing to ensure that the code knows that there is no content expected in the div and that the div wont collapse*/
}

.history-items{
    margin-bottom: 20px;
    
}

/*--------------------------------Contacts */

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

/*******************
    Interests
********************/
#map {
    min-height: 360px;
    margin-bottom: 15px;
}

/*--------------------------------Footer */

footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
}

footer span a i{
    color: #fafafa;
    text-align: center;
    font-size: 24px;
    padding-left: 5px;
}

footer span a i:hover{
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.download-pdf span{
    display: flex;
    justify-content: center;
    
}

.social-links{
    padding-bottom: 15px;
}

#footer-details{
    margin: 20px;
}

.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 0px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #e84610;
}



/*--------------------------------Media Queries*/

@media(min-width: 992px){
    .section-column{
    padding: 0 30px;
    float: none;
    display: table-cell;
}
}

@media(min-width: 768px){
    .center-form{
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}
}